*,
*::after,
*::before {
	box-sizing: border-box;
}

body{
	margin: 0%;
	background-color: #1c1c1d;
}

.topic-properties{
	letter-spacing: 0.5em;
	margin: 5em auto 0px;
	font-size: 2.5em;
	text-transform: uppercase;
}

.intro-img {
	width: 100%;
	height: 100vh;
}

.about-us-head {
	width: 100%;
	display: flex;
	color: white;
	flex-direction: column;
	align-items: center;
}

.about-us-head::after {
	content: '';
	height: 2px;
	width: 7em;
	margin: .75em 0px 3em;
	background-color: orange;
}

.about-us-div{
	margin: 0px auto 2em;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 75%;
	background-color:rgb(200, 146, 0);
	justify-content: space- space-around;
	border-radius: 5px;
	overflow: hidden;
	padding: 8px;
	max-width: 2000px;
	color: white;
	box-shadow: 2px 2px 5px 2px rgba(0,0,150,0.2);
}

.about-us-img{
	width: 50%;
	height: 100%;
}

.about-us-row{
	display: flex;
	flex-direction: column;
	width: 50%;
	padding: 1.5em;
	align-self: flex-start;
	margin: 1em 0px;
	line-height: 1.5em;
}

.about-us-body{
	text-align: left;
	text-overflow: wrap;
	font-size: 1.25em;
	line-height: 1.5em;
}

.about-us-name{
	display: flex;
	font-size: 2em;
	flex-direction: column;
	margin: 0px;
}
.about-us-name::after{
	content: '';
	height: 1px;
	width: 5em;
	margin: .5em 0px .5em;
	background-color: orange;
}

.skills{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-around;
	align-items: center;
}

.skill-cards{
	color: white;
	background-color: rgb(200, 146, 0);
	width: 30%;
	margin: 1em;
	border-radius: 5px;
	padding: 1.5em;
	box-shadow: 2px 2px 5px 2px rgba(0,0,150,0.2);
}

.sc-1{
	margin-left: 12.5%;
}
.sc-3{
	margin-right: 12.5%;
}

.skill-head{
	display: flex;
	font-size: 1.5em;
	flex-direction: column;
}

.skill-head::after{
	content: '';
	height: 1px;
	width: 75%;
	margin-top: 10px;
	background-color: orange;
}


@media  (max-width: 768px){
	.about-us-div{
		flex-direction: column;
	}
	.about-us-img{
		width: 100%;
	}
	.about-us-body{
		text-align: center;
	}
	.about-us-row{
		width: 100%;
	}
	.about-us-name{
		align-items: center;
	}
	body{
		font-size: 10px;
	}
	.skills{
		flex-direction: column;
		width: 75%;
		margin: 0px auto;
		align-items: center;
		justify-content: center;
	}
	.sc-1{
		margin-left: 0px;
	}
	.sc-3{
		margin-right: 0px;
	}
	.skill-cards{
		width: 100%;
		margin: 1em;
	}
}