.admin{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-card-row{
    display: flex;
    /* background-color: aqua;  */
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    margin: 0px 0px 2em;
}

.admin-cards{
    position: relative;
    width: 30%;
    overflow: hidden;
    background-color: grey;
    margin: 0px;
    opacity: 1;
    border-radius: 5px;
    overflow: hidden;
}


.admin-img{
    width: 100%;
    transform: scale(1);
    margin: 0px;
    transition: all ease-in 300ms;
    z-index: 0;
}

.admin-cards:hover .admin-img{
    transform: scale(1.15);
    opacity: .3;
}


.admin-body{
    padding: 2em;
    text-align: center;
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    text-overflow: wrap;
    transform: translateY(100%);
    transition: transform ease-in 350ms;
    z-index: 2;
}

.admin-cards:hover .admin-body{
    transform: translateY(0%);
    visibility: visible;
    opacity: 1;
}


.admin-name{
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    align-items: center;
}
.admin-name::after{
    content: '';
    height: 1px;
    width: 3em;
    background-color: aliceblue;
    margin: 0.5em 0px 0px;
}

.admin-content{
    margin-top: 2em;
    line-height: 1.7em;
}

.admin-post{
    letter-spacing: .25em;
    font-size: 1.25em;
    margin: 0%;
    text-transform: uppercase;
}

@media (max-width: 768px){
    .admin-card-row{
        flex-direction: column;
        align-items: center;
        width: 75%;
        margin: 0%;
    }
    .admin{
        align-items: center;
    }
    .admin-cards{
        width: 100%;
        margin: 0px 0px 2em;
    }
}