.admin {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.admin-card-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 75%;
	margin: 0px 0px 2em;
}

.admin-name {
	font-family: 'Mansalva', cursive;
	display: flex;
	flex-direction: column;
	font-size: 1.9em;
	align-items: center;
}
.admin-name::after {
	content: '';
	height: 1px;
	width: 3em;
	background-color: aliceblue;
	margin: 0.5em 0px 0px;
}

.admin-content {
	margin-top: 1em;
	font-size: 1.5em;
	line-height: 1.7em;
	font-family: 'Fugaz One', cursive;
}

.admin-post {
	letter-spacing: 0.25em;
	font-size: 1.5em;
	font-family: 'Bangers', cursive;
	margin: 0%;
	font-weight: 1000;
	text-transform: uppercase;
}

.admin-card {
	perspective: 1000px;
	width: 22.5vw;
	height: 22.5vw;
}

.admin-card-inner {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform ease-in-out 0.6s;
	transform-style: preserve-3d;
}
.admin-card:hover .admin-card-inner {
	transform: rotateY(180deg);
}

.admin-img {
	border-radius: 50%;
	width: 100%;
	height: 100%;
	border: 2px solid orange;
	z-index: 10;
}

.admin-card-front {
	backface-visibility: hidden;
	padding: 1em;
}
.admin-card-back {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	backface-visibility: hidden;
	display: flex;
	overflow: hidden;
	flex-direction: column;
	background-color: var(--accent-col);
	color: white;
	transform: rotateY(180deg);
	padding: 2em;
}

.social-links a{
	margin: 0px 5px;
	color: white;
	text-decoration: none;
}

.email:hover, .email:focus {
	color: red;
	outline: none;
}

.instagram:hover, .instagram:focus{
	color: #c13584;
}

.linkedin:hover, .linkedin:focus{
	color: #0077b5;
}

.facebook:hover, .facebook:focus{
	color: #3c5a99;
}

@media (max-width: 768px) {
	.admin-card-row {
		flex-direction: column;
		align-items: center;
		margin: 0%;
	}
	.admin-card {
		width: 75vw;
		height: 75vw;
		margin: 0px 0px 2em;
	}
	.admin-card-back {
		font-size: 12px;
	}
}
