.join-us {
	position: relative;
	width: 100%;
	height: 250px;
	overflow: hidden;
	vertical-align: centre;
	display: flex;
	justify-content: center;
    align-items: center;
    margin: 100px 0px 50px;
}

.join-us-img {
	position: absolute;
	filter: blur(5px);
    width: 100%;
    height: 100%;
	opacity: 0.5;
    background-image: url("https://raw.githubusercontent.com/mrbing47/Aayam-Actual/master/img/join-us-img.jpg");
    background-position: center;
}

.join-us-body {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
    padding: 20px;
}

.join-us-btn-main{
    font-family: 'Luckiest Guy', cursive;
    font-weight: 100;
    font-size: 1.75em;
    background-color: orange;
	text-decoration: none;
	padding: 0.75em;
	color: white;
    border-radius: 13px;
    transition: transform 250ms cubic-bezier(0.31, 0.57, 0.13, 2.98);
}

.join-us-btn-main:hover{
    background-color: orangered;
    transform: scale(1.2);
}

.join-us-content {
    margin: 0em 0px 0.5em;
    font-size: 2.3em;
    font-weight: 500;
    word-spacing: 0.25em;
    font-family: 'Bangers', cursive;
}

.join-us-text{
    color: orange;
    font-size: 1.25em;
    font-family: 'Luckiest Guy', cursive;
}

@media(max-width: 768px){

    .join-us-body{
        font-size: 10px;
    }
}